{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="favicon.ico" />

    <title>{% block header_title %}{% endblock header_title %}</title>

    <!-- Bootstrap core CSS -->
    <link
      href="{% static 'blog_app/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="{% static 'blog_app/css/styles.css' %}" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-blue">
      <div class="container">
        <a class="navbar-brand" href="{% url 'blog_app:homepage'%}">
          {% comment %} <img
            src="{% static 'blog_app/images/logo.png' %}"
            alt="Angular Project"
          /> {% endcomment %}
          <h1 class="custom_logo">Logo</h1>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'blog_app:homepage'%}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog_app:aboutpage'%}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog_app:contactpage'%}">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog_app:blogpage'%}">Blog</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
           
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'blog_app:logout_user'%}" class="nav-link">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a href="{% url 'blog_app:login_user'%}" class="nav-link">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <section class="banner">
      <div class="banner-box">
        <div class="intro-text">
          <div class="intro-text-box">
            <h1>{% block main_heading %}{% endblock main_heading %}</h1>
            <p>{% block sub_heading %}{% endblock sub_heading %}</p>
          </div>
        </div>
        <img src="{% block banner_img %}{% endblock banner_img %}" alt="banner" />
      </div>
    </section>
    <section class="featured-blog mtb-40">
      <div class="container">
        <div class="row">
          {% block main_content %}{% endblock main_content %}
        </div>
      </div>
    </section>
    {% block blog_detai %}
    
    {% endblock blog_detai %}
  {% block comment_block %}
  
  {% endblock comment_block %}

  
  
    <footer>
      <div class="container">
        <div class="copyright">
          <div>Designed by ARIHANT</div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="{% static 'blog_app/js/bootstrap.min.js' %}"></script>
  </body>
</html>
